@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');

$black: #111720;
$blue: #0000A6;
$light-blue: #0000f4;
$dark-blue: #000040;
$light-button-color-from-andy: #3f3fac; 
$dark-button-color-from-my-boy-andy: $dark-blue;
$white: #ffffff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

p, button, div {
  font-family: "Quicksand", sans-serif;
}

#screen {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: linear-gradient(75deg, $black, #111720);
}

#starCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: $white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2.5s;
  padding: 10px;
  transform: translateY(-5%);

  img {
    transform: translateY(10%);
    max-width: 40%;
    max-height: 40%;
    border-radius: 50%;
    // box-shadow: 0px 0px 10px $black, 0px 0px 20px $light-blue, 0px 0px 30px $dark-blue;
    margin-bottom: 20px;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }  

  .hero-content {
    display: flex;
    color: $white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: $white;

    p {
      font-size: 1.5em;
      font-weight: 200;
      color: $white;


    }
  }
  

  button {
    background: rgba($blue, 0.1);
    border: 2px solid $light-blue;
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    overflow: hidden;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 1em 2em;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(110deg, $light-button-color-from-andy 65%, $dark-button-color-from-my-boy-andy);
      z-index: -1;
      transition: all 0.8s ease-in-out;
    }

    &:hover {
      transform: scale(1.03);
      color: $white;

      &::before {
        left: 0;
      }
    }

    &:active {
      transform: scale(1.03);
    }
  }
}

span.gradient-text {
  background: linear-gradient(90deg, #17BBFF, #447DFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content, #press, #footer, #vision, #contact {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2.5s;
  transform: translateY(-5%);

  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

#content, #vision, #structure, #contact {
  background: linear-gradient(180deg, rgba($black, 0.6), rgba($dark-blue, 0.6));
  color: $white;
  padding: 10em 2em 3em 2em;

  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  a {
    color: $white;
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: $light-blue;
    }
  }

  h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(90deg, #17BBFF, #3162d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .statement {
    text-align: center;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 4em;
  }

  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;

    .feature-card {
      background: rgba($light-blue, 0.1);
      border: 2px solid $light-blue;
      border-radius: 15px;
      padding: 2rem;
      width: calc(33.333% - 2rem);
      min-width: 250px;
      text-align: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba($light-blue, 0.2);
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
      }
    

    }
  }

    ul {
      list-style-type: none; /* Remove default bullets */
      padding: 0; /* Remove default padding */
      margin: 20px 0; /* Space above and below the list */
    }
    
  ul li {
    margin-bottom: 15px; /* More space between list items */
    padding-left: 25px; /* Indentation for list items */
    position: relative; /* Position for custom bullet */
  }
  
  ul li::before {
    content: "•"; /* Custom bullet */
    position: absolute; /* Position the bullet */
    left: 0; /* Align the bullet to the left */
    color: #007BFF; /* Bullet color */
  }

  h3 {
    padding: 15px;

  }
}

#press {
  background: linear-gradient(180deg, rgba($dark-blue, 0.6), rgba($black, 0.6));
  color: $white;
  padding: 2em 2em 4em 2em;

  h2, h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    background: linear-gradient(90deg, #17BBFF, #3162d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-size: 1.8rem;
  }

  .article-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Adjust based on the number of slides */
  }

  .article-item {
    background: rgba($light-blue, 0.1);
    border: 2px solid $light-blue;
    border-radius: 15px;
    padding: 2rem;
    width: calc(33.333% - 2rem);
    min-width: 300px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba($light-blue, 0.2);
    }

    .article-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        max-width: 120px;
        max-height: 70px;
        margin-bottom: 1.5rem;
      }

      p {
        font-style: italic;
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
    }

    .article-source {
      font-weight: 700;
      text-align: right;
      color: $light-blue;

      a {
        color: $light-blue;
        text-decoration: underline;

        &:link,
        &:visited,
        &:active {
          color: $light-blue;
        }
      }
    }

  }

  .backers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  
    img {
      min-width: 180px;
      width: 40%;
      height: auto;
    }
    
    #greenhouse {
      width: 40%;
      min-width: 220px;
      max-width: 40%;
    }
  }
  
  /* For mobile devices */
  @media (max-width: 768px) { 
    .backers {
      flex-direction: column;
      align-items: center; 
      gap: 1rem; 
    }
    
    img {
      width: 100%; 
    }
    
    #greenhouse {
      width: 100%; 
    }
  }
  
}


#footer {
  background: $black;
  color: $white;
  padding: 3rem 2rem;
  text-align: center;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .social-links {
      display: flex;
      gap: 1rem;

      a {
        color: $white;
        font-size: 1.5rem;
        transition: color 0.3s ease;

        &:hover {
          color: $light-blue;
        }
      }
    }

    .contact-info {
      font-size: 1rem;

      a {
        color: $white;
        text-decoration: underline;

        &:hover {
          color: $light-blue;
        }
      }
    }

    .legal {
      font-size: 0.8rem;
      color: rgba($white, 0.7);
      margin-bottom: 1em;
    }

    .created-by {
      font-size: 0.8rem;
      color: rgba($white, 0.7);

      a {
        color: $white;
        text-decoration: underline;
        transition: color 0.3s ease;

        &:hover {
          color: $light-blue;
        }
      }
    }
  }
}




/* for carousel */

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.article-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Article Items aka slides */
.article-item {
  flex: 0 0 100%; 
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* carousel dots things */
.carousel-dots {
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.carousel-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-dots .active {
  background-color: #333;
}


.article-content img {
  width: 100%;
}

.article-content p {
  font-size: 16px;
  line-height: 1.5;
}

.gradient-text {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article-source a {
  color: #007bff;
  text-decoration: none;
}

.article-source a:hover {
  text-decoration: underline;
}

.circular-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Adjust this as needed */
  padding: 20px;
  box-sizing: border-box;
}

.circular-image {
  width: 100%;
  height: auto;
  border-radius: 25%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.circular-image:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .circular-img-container {
      max-width: 300px; 
  }
}


/* copy pasted to change ul/li bullets to checks, tb refactored */
#structure {
  background: linear-gradient(180deg, rgba($black, 0.6), rgba($dark-blue, 0.6));
  color: $white;
  padding: 10em 2em 3em 2em;

  .subtitle {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(90deg, #17BBFF, #3162d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  
  a {
    color: $white;
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: $light-blue;
    }
  }

  h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(90deg, #17BBFF, #3162d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .statement {
    text-align: center;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 4em;
  }

  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;

    .feature-card {
      background: rgba($light-blue, 0.1);
      border: 2px solid $light-blue;
      border-radius: 15px;
      padding: 2rem;
      width: calc(33.333% - 2rem);
      min-width: 250px;
      text-align: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba($light-blue, 0.2);
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
      }

    }
  }

    ul {
      list-style-type: none; /* Remove default bullets */
      padding: 0; /* Remove default padding */
      margin: 20px 0; /* Space above and below the list */
    }
    
  ul li {
    margin-bottom: 15px; /* More space between list items */
    padding-left: 25px; /* Indentation for list items */
    position: relative; /* Position for custom bullet */
  }
  
  ul li::before {
    content: "✔"; /* Custom bullet */
    position: absolute; /* Position the bullet */
    left: 0; /* Align the bullet to the left */
    color: #007BFF; /* Bullet color */
  }

  h3 {
    padding: 15px;

  }
}

.team h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #A1A1F1;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
  margin-bottom: 2rem;
}

.team-member img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member-info {
  text-align: center;
}

.team-member-info h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.team-member-info p {
  font-size: 1rem;
  color: #666;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #A1A1F1; 
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 1em 9em;
}

.contact-links img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1024px) {
  .team-row {
    justify-content: space-around;
  }
}